django
django-keycloak-auth
social-auth-app-django
python-keycloak
scikit-learn 
onnxruntime 
joblib
numpy
pandas 
python-dotenv
python-decouple
djangorestframework 
python-jose
drf-yasg
django-cors-headers
django-prometheus
kafka-python
confluent-kafka